@font-face {
  font-family: "EuclidCircularB";
  src: url("/Euclid Circular B Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EuclidCircularBBold";
  src: url("/Euclid Circular B Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: var(--font-1);
}
